.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 0.05rem solid #069;
    border-radius: 0.1rem;
    color: #069;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.2rem;
    outline: 0;
    padding: 0.25rem 0.4rem;
    text-align: center;
    text-decoration: none;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn.btn-primary {
    background: #069;
    border-color: #4b48d6;
    color: #fff
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
    background: #4240d4;
    border-color: #3634d2;
    color: #fff
}

.icon {
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: 1em;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 1em;
}

.mb-1 {
    margin-bottom: 0.2rem !important;
}

.icon-apps::before {
    background: currentColor;
    box-shadow: -0.35em -0.35em, -0.35em 0, -0.35em 0.35em, 0 -0.35em, 0 0.35em, 0.35em -0.35em, 0.35em 0, 0.35em 0.35em;
    height: 0.15em;
    width: 0.15em;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.icon::after,
.icon::before {
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon-refresh::before {
    border: 0.1rem solid currentColor;
    border-radius: 50%;
    border-right-color: transparent;
    height: 1em;
    width: 1em;
}

.icon-refresh::after {
    border: 0.2em solid currentColor;
    border-left-color: transparent;
    border-top-color: transparent;
    height: 0;
    left: 80%;
    top: 20%;
    width: 0;
}

.icon {
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: 1em;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 1em;
}

.has-icon-left,
.has-icon-right {
    position: relative;
}

.bpmn-container {
    /* используйте абсолютные значения ширины и высоты, чтобы диаграмма не отображалась полностью при открытии страницы. */
    width: 100%;
    height: 600px;
    margin-top: 2em;
    border-style: solid;
    border-color: #B0B0B0;
    border-width: 1px;
    /* гарантирует, что часть диаграммы за пределами контейнера не будет отображаться. */
    overflow: hidden;
}

.notice {
    --root-color: #444;
    --root-background: #eff;
    --title-color: #fff;
    --title-background: #7bd;
    --warning-title: #c33;
    --warning-content: #fee;
    --info-title: #fb7;
    --info-content: #fec;
    --note-title: #6be;
    --note-content: #e7f2fa;
    --tip-title: #5a5;
    --tip-content: #efe
}

@media (prefers-color-scheme:dark) {
    .notice {
        --root-color: #ddd;
        --root-background: #eff;
        --title-color: #fff;
        --title-background: #7bd;
        --warning-title: #800;
        --warning-content: #400;
        --info-title: #a50;
        --info-content: #420;
        --note-title: #069;
        --note-content: #023;
        --tip-title: #363;
        --tip-content: #121
    }
}

body.dark .notice {
    --root-color: #ddd;
    --root-background: #eff;
    --title-color: #fff;
    --title-background: #7bd;
    --warning-title: #800;
    --warning-content: #400;
    --info-title: #a50;
    --info-content: #420;
    --note-title: #069;
    --note-content: #023;
    --tip-title: #363;
    --tip-content: #121
}

.notice {
    padding: 18px;
    line-height: 20px;
    margin-bottom: 24px;
    margin-top: 20px;
    border-radius: 4px;
    color: var(--root-color);
    background: var(--root-background)
}

.notice p:last-child {
    margin-bottom: 0
}

.notice-title {
    margin: -18px -18px 12px;
    padding: 4px 18px;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    color: var(--title-color);
    background: var(--title-background)
}

.notice.warning .notice-title {
    background: var(--warning-title)
}

.notice.warning {
    background: var(--warning-content)
}

.notice.info .notice-title {
    background: var(--info-title)
}

.notice.info {
    background: var(--info-content)
}

.notice.note .notice-title {
    background: var(--note-title)
}

.notice.note {
    background: var(--note-content)
}

.notice.tip .notice-title {
    background: var(--tip-title)
}

.notice.tip {
    background: var(--tip-content)
}

.icon-notice {
    display: inline-flex;
    align-self: center;
    margin-right: 8px
}

.icon-notice img,
.icon-notice svg {
    height: 1em;
    width: 1em;
    fill: currentColor
}

.icon-notice img,
.icon-notice.baseline svg {
    top: .125em;
    position: relative
}

.c-hand {
    cursor: pointer;
}

.bpmn-popover hr {
    background: #4582d8;
}