.specs,
.back-button {
    text-align: center;
}

.specs a:not(:last-child) {
    margin-right: 50px;
}

#radar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.desc {
    margin-top: 10px;
}

.desc,
.specs {
    display: flex;
    justify-content: center;
}

.inner-table {
    width: auto;
    margin: auto;
}

.to-trial {
    padding-left: 20px;
}

.to-trial li {
    list-style-type: none;
}
.button-1 {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #c5c2be);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    /* display: flex; */
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);

    padding: 15px;
    width: 10vw;
    margin: 5px;
    font-size: 16px;
}

.button-1:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}

.button-1:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}